<form asp-action="Create">
    <label>Person ID: </label>
    <input type="text" name="PersonID">
    <br>
    <label>Person Name: </label>
    <input type="text" name="PersonName">
    <br>
    <input type="submit" value="Create">
</form>