<form asp-action="Create">
    <label>Student ID: </label>
    <input type="text" name="StudentID">
    <br>
    <label>Student Name: </label>
    <input type="text" name="StudentName">
    <br>
    <input type="submit" value="Create">
</form>