<form asp-action="Create">
    <label>Customer ID: </label>
    <input type="text" name="CustomerID">
    <br>
    <label>Customer Name: </label>
    <input type="text" name="CustomerName">
    <br>
    <input type="submit" value="Create">
</form>